<%- include('../partials/header') %>

<h2><%= asset.name %> Details</h2>

<ul>
  <li>Model: <%= asset.category %></li>
  <li>Make: <%= asset.make %></li>
  <li>Condition: <%= asset.condition %></li>
  <li>Asset Tag: <%= asset.assetTag %></li>
  <li>Manufactured Year: <%= asset.manufacturedDate?.getFullYear() %></li>
</ul>

<a href="/portal">Back to Portal</a> |
<a href="/portal/<%= asset._id %>/edit">Edit</a>

<%- include('../partials/footer') %>
